* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
  background-color: forestgreen;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  background-color: rgba(39, 119, 75, 0.9);
}
header {
  height: 65px;
  width: 100%;
  background-color: rgba(39, 119, 75, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 3px black solid;
}

.logo {
  width: 60px;
  margin-top: 10px;
}

.header-left {
  color: rgba(17, 17, 17, 0.849);
  float: left;
}

.header-left img {
  margin-top: 1px;
  float: left;
}
.header-left h1 {
  margin-left: 10px;
  margin-top: 15px;
  float: right;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: rgba(17, 17, 17, 0.849);
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  display: none;
}

.anggota {
  padding: 100px 0 100px 0;
  color: white;
}

.conang {
  max-width: 1170px;
  width: 100%;
  padding: 15px 25px;
  margin: 0 auto;
  background-color: rgba(39, 119, 75, 0.9);
}

.anggota .judul {
  font-size: 18px;
  letter-spacing: 2px;
  border-bottom: 3px solid;
}

table {
  width: 100%;
  font-size: 15px;
  text-align: center;
}

table th {
  border-bottom: 3px solid;
}

footer {
  height: 150px;
  width: 100%;
  background-color: rgb(35, 43, 39);
  bottom: 0;
  text-align: center;
}

.confoot {
  max-width: 1170px;
  width: 100%;
  padding: 10px 15px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: rgba(35, 43, 39, 0.9);
  color: white;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.instagram {
  background-color: #a81f74;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.youtube {
  background-color: #c21610;
}

.link {
  margin: 20px 10px;
}

.fa {
  margin-right: 5px;
}
